.tabs {
  background-color: black;
  height: 100%;
  width: 100%;

  .nav {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;

    &>li {
      position: relative;
      float: left;
      border: none;
      border-radius: 0;
      margin: 0 0 -1px 0;
      padding: 0;

      a {
        cursor: pointer;
        display: block;
        padding: 10px 20px;
        border: none;
        border-radius: 0;
        outline: none;
        text-transform: uppercase;
        color: white;

        &:hover {
          background-color: $menuhover;
        }
      }
      &.active a {
        cursor: default;
        padding: 10px 20px 12px 20px;
        background: #fff;
        border-bottom-style: none;
        color: #333;
      }
      &:last-child {
        position: absolute;
        right: 0;
      }
      &.dropdown {
        &.active>a {
          cursor: pointer;
        }
        li>a {
          cursor: pointer;
          color: #333;

          &:hover {
            background-color: $menuhover;
          }
        }
      }
      &.menubutt {
        font-size: 2em;
        &>a {
          padding: 0 0.6em;
          margin: 0;
        }
      }
    }
  }

  .tab-pane {
    height: 100%;
    padding: 10px;
    background-color: white;
  }

  .tabs-hide {
    display: none;
  }
}
